body {
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    font-style: normal;
    background-color: coral;
}

header {
    text-align: center;
    font-size: 72px;
}

#question {
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    font-size: 24px;
}


div {
    display: block;
}

#app-container {
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    
}

#button-panel {
    display: none;
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    font-size: 24px ;
}

#new-question-div {
    align-content: center;
    display: none;
}

#true-false-buttons {
    display: none;
}

#result {
    display: none;
}

#scores {
    display: block;
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    font-size: 24px ;
}

#final-score {
    display: none;
    text-align: center;
    font-size: 72px;
    vertical-align: 50%;
}